<header class="site-header">
  <h1>CSE Motors</h1>

  <!-- FLASH MESSAGES -->
  <%- messages() %>

  <% if (locals.loggedin) { %>
    <div class="account-links">
      <a href="/account/" class="account-link">
        Welcome <%= locals.accountData.account_firstname %>
      </a>
      <a href="/account/logout" class="account-link">Logout</a>
    </div>
  <% } else { %>
    <a href="/account/login" class="account-link">My Account</a>
  <% } %>
</header>